.homefourteen{
    background-color: #070a0c;
    display: flex;
    justify-content: space-between;
    height: 40vh;
    padding: 5rem 10rem 0 10rem;
    font-family: poppins;
}
.homefourteen-one h1{
   font-size: 4rem;
   color: #fff;
   margin-bottom: 1.5rem;
}
.homefourteen-one h3{
   margin-left: 3rem;
   font-size: 1.4rem;
   margin-bottom: -1.5rem;
   color: white;
   font-family: 'Pinyon Script', cursive;
}
.homefourteen-one h2{
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.icons{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
}
.icons :nth-child(1):hover{
    color: #e2c48e;
    cursor: pointer;
}
.icons :nth-child(2):hover{
    color: #e2c48e;
    cursor: pointer;
}
.icons :nth-child(3):hover{
    color: #e2c48e;
    cursor: pointer;
}
.icons :nth-child(4):hover{
    color: #e2c48e;
    cursor: pointer;
}
.icons :nth-child(5):hover{
    color: #e2c48e;
    cursor: pointer;
}

.homefourteen-two h1{
    color: #fff;
    margin-bottom: 3rem;
}
.homefourteen-two-inner {
    display: flex;
}
.homefourteen-two-inner input{
    height: 3rem;
    padding: 1rem;
    outline: none;
    border: none;
    width: 70%;
    border-radius: .1rem;
    font-size: 1.1rem;
}
.homefourteen-two-inner button{
    outline: none;
    border:none;
    text-transform: uppercase;
    letter-spacing:.1em;
    cursor:pointer;
    height: 3rem;
    background-color: #e2c48e;
    width: 15rem;
    margin-left: 1rem;
}
.homefifteen{
    background-color: #070a0c;
    color: #fff;
    padding: 0 10rem;
      
}
.footer-one{
    border-top: 0.1px solid #d7d5d5; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem ;
}
.footer-one a{
    color: #d7d5d5;
    cursor: pointer;
    
}
.footer-one a.active-style{
    color: #fff;
}
.footer-one a:hover{
    color: #fff;
}
.footer-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
   padding-bottom: 2rem;
}