*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-hero{
    background-color: #070a0c;
    height: 100vh;
}
.hometwo{
    padding: 0 0 0 15rem;
    margin-top: 6rem;
    font-family: poppins;
    
}
.hometwo button{
    padding: .5rem 3rem;
    outline: none;
    border:none;
    text-transform: uppercase;
    letter-spacing:.1em;
    cursor:pointer;
    height: 3rem;
    background-color: #e2c48e;
    margin-top: 3rem;
}
.homethree{
    background-color: #070a0c;
    
}
.homethree img{
    height: 30rem;
    width: 92rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 0 0 0 8rem;
}
.homefour{
    background-color: #070a0c;
    background-image: url('../assets/pool2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homefour-inner{
    height: 30rem;
    width: 80%;
    background-color: black;
    opacity: .7;
}
.homefour-inner h1{
    color: #e2c48e;
    padding: 0 0 0 4rem;
    font-size: 3.5rem;
    margin-top: 5rem;
    font-family: poppins;
}
.homefour-inner p{
    color: #f7f7f7;
    width: 40rem;
    padding: 0 0 0 4rem;
    margin-top: 1rem;
}
.homefive{
    background-color: #070a0c;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homefive h1{
    font-size: 3rem;
    color: white;
    font-family: poppins;
}
.homesix{
    background-color: #070a0c;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.homesix img{
    width: 23rem;
    height: 30rem;
    object-fit: cover;
    transition: transform 0.25s;
}
.homesix img:hover{
     transform: scale(1.1);
}
.homeseven{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: poppins;
    padding: 0 7rem 0 3rem;
    background-color: transparent;
    position: absolute;
    color: white;
    bottom: -112rem;
    gap: 14rem;
}
.homeeight{
    background-color: #070a0c;
    color: white;
    height: 40vh;
    font-family: poppins;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeeight-inner h1{
    font-size: 3.3rem;
}
.homeeight-inner p{
    color: #d7d5d5!important;
    margin-top: 1rem;
    font-size: 1.1rem;
}
.homenine{
    background-color: #070a0c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10rem;
   
}
.homenine-inner-two{ 
    width: 35%;
}
.homenine-inner-two :nth-child(1){
    width: 25rem;
    height: 50%;
    object-fit: cover;
}
.homenine-inner-two :nth-child(2){
    width: 25rem;
   height: 35rem;
    object-fit: cover;
}
.hometen{
    background-color: #070a0c;
    padding: 0 8.4rem;
    font-family: poppins;
    padding-top: 10rem;
}
.hometen-inner p{
    margin-top: 2rem!important;
    color: #d7d5d5;
    font-size: 1.1rem;
}
.hometen-inner-one{
    display: flex;
    align-items: center;
    width:100%;
}
.hometen-inner-one :nth-child(1) h1{
    color: #e2c48e;
    font-size: 3rem;
}
.div1{
    color: white;
    width: 50%;
}
.div1 h3{
    margin-bottom: 2rem;
}
.div1 p{
    margin-top: 2rem;
}
.divtwo{
    color: white;
    width: 25%;
}
.divtwo h2{
    margin-bottom: 1rem;
}
.divthree{
    width: 25%;
}
.divthree img{
    height: 19.5rem;
    
}
.hometen-inner-two{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.hometen-inner-two-div1{
    width: 25%;
}
.hometen-inner-two-div1 img{
    height: 19.5rem;
}
.hometen-inner-two-div2{
    width: 25%;
    display: grid;
    place-items: center;
}
.hometen-inner-two-div3{
    width: 25%;
    
}
.hometen-inner-two-div3 img{
    height: 19.5rem;
}
.hometen-inner-two-div4{
    width: 25%;
    display: grid;
    place-items: center;
}
.hometen-inner-three{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.hometen-inner-three-div1{
    width: 25%;
    display: grid;
    place-items: center;
}
.hometen-inner-three-div2 img{
    height: 19.5rem;
}
.hometen-inner-three-div3{
    width: 50%;
    padding: 1rem;
}
.hometen-inner-three-div3 h1{
    color: #e2c48e;
    font-size: 3rem;
}
.hometen-inner-three-div3 p{
    margin-top: 1.2rem;
}
.hometen-inner-three-div3 button{
    padding: .5rem 3rem;
    outline: none;
    border:none;
    text-transform: uppercase;
    letter-spacing:.1em;
    cursor:pointer;
    height: 3rem;
    background-color: #e2c48e;
    margin-top: 3rem; 
}
.homeeleven{
    padding: 10rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #070a0c;
    font-family: poppins;
}
.homeeleven h1{
    color:#fff ;
    font-size: 3.3rem;
    margin-bottom: 1rem;
}
.homeeleven p{
   color: #d7d5d5;
    font-size: 1.2rem;
}
.hometwelve{
    background-color: #070a0c;
    padding: 0 10rem 0 10rem;
    font-family: poppins;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.hometwelve-inner-one img{
    height: 17rem;
}
.hometwelve-inner-one h1{
    color: #e2c48e;
    text-align: center;
    margin-top: 2.5rem;
}
.hometwelve-inner-one p{
    color: #d7d5d5;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.hometwelve-inner-two img{
    height: 17rem;
}
.hometwelve-inner-two h1{
    color: #e2c48e;
    text-align: center;
   margin-top: 10rem;
}
.hometwelve-inner-two p{
    color: #d7d5d5;
    margin-top: 1rem;
    margin-bottom: 10rem;
    
}
.hometwelve-inner-three{
    margin-left: 1rem;
}
.hometwelve-inner-three img{
    height: 17rem;
}
.hometwelve-inner-three h1{
    color: #e2c48e;
    text-align: center;
    margin-top: 2.5rem;
}
.hometwelve-inner-three p{
    color: #d7d5d5;
    margin-top: 1rem;
}
.homethirteen{
    background-color: #070a0c;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homethirteen :nth-child(1){
    /* border: 1px solid red; */
    margin-right: 6rem;
    width: 50%;
}
.homethirteen :nth-child(1) h1{
    font-size: 4rem;
    color: #e2c48e;
    font-family: poppins;
    width: 80%;
}
.homethirteen :nth-child(1) p{
    color: #d7d5d5;
    font-family: poppins;
    font-size: 1.3rem;
    width: 80%;
    margin-top: 1rem;
}
.homethirteen :nth-child(2) button{
    outline: none;
    border:none;
    text-transform: uppercase;
    letter-spacing:.1em;
    cursor:pointer;
    height: 3rem;
    background-color: #e2c48e;
    margin-top: 3rem;
    width: 10rem;
}
